body{
    background-image: -webkit-linear-gradient(bottom,blue,pink,purple);
    color: black;
    background-repeat: no-repeat;
    background-size: auto;
}
.cím{
    text-align: center;
}
.storytext{
    text-align: center;
}
.karakterek{
    text-align: center;
}
.story{
    margin-left: 25px;
}
a :link {
    color: purple;
}
a:visited {
    color: purple;
}
a :hover {
    color: pink;
}
a:active {
    color: purple;
}
.link {
    text-align: center;
}
a{
    color: purple;
}
.linkketto{
    color: black;
}
.Parzival{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    float: right;
}
.Karaktercim{
    margin-bottom: 20px;
}
.Parzivalcim{
    margin-bottom: 15px;
    margin-top: 20px;
}
.Parzivaltext{
    margin:40px;
    text-align: center;
}
.Art3mis{
    display: block;
    margin-left: auto;
    margin-right: auto;
    float: right;
}
.Wade{
    margin-bottom: 120px;
}
.Art3mistext{
    margin-top: 50px;
    text-align: center;
    
}
.James{
    display: block;
    margin-left: auto;
    margin-right: auto;
    float: right;
}